<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:text="${currentUser.getUserName()}" th:href="@{/}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{|/user/${currentUser.getId()}|}">User Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/logout}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${currentUser.isAdmin()}" th:href="@{/admin}">
                        Admin Panel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="row d-flex justify-content-center">
        <div class="btn-group col-3" role="group">
            <a th:href="@{/admin/role/addtouser}" class="btn btn-primary">Add Role to User</a>
            <a th:href="@{/admin/viewUsers}" class="btn btn-primary">View all users</a>
            <a th:href="@{/admin/viewUserLogs}" class="btn btn-primary">View user logs</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>